<section class="container">
    <header>
        <h3>Get Notified of New Campaigns</h3>
        <span>Be the first to know!</span>
    </header>
    <div class="subscribe">
        <div class="input">
            <app-custom-input placeholder="Enter your email"></app-custom-input>
        </div>
        <app-custom-btn text="Subscribe"
            [customStyle]="{'background-color': 'var(--brand-600)', 'color': '#fff'}"></app-custom-btn>
    </div>
    <span>We care about your data in our <a>privacy policy</a></span>
</section>