header {
  text-align: center;
  margin-bottom: 32px;

  h1 {
    color: var(--Gray-900);
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    margin-top: 24px;
    margin-bottom: 12px;
  }

  span {
    color: var(--Gray-600);
    font-size: 16px;
    line-height: 24px;
  }
}
